.zou-button {
  background-color: #3ddbdd;
  color: #0000ff;
  padding: 2px 6px;
  border: solid 2px #cccccc;
  font: 20px "微软雅黑";
  text-decoration: none;
  display: inline-block;
}
.zou-button-warn {
  background-color: #ff0000;
  color: #ffffff;
}
.zou-button-cancel {
  background-color: #cccccc;
  color: #333333;
}
